.App {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Відстань між картками */
  justify-content: center; /* Центрування карток */
  padding: 20px;
}

.goods-card {
  width: 200px; /* Ширина картки */
  height: 300px; /* Обов'язкова висота картки для уніфікації */
  border: 2px solid #ddd; /* Обвід картки */
  border-radius: 8px; /* Закруглені кути */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тінь */
  display: flex;
  flex-direction: column; /* Вирівнювання елементів вертикально */
  align-items: center; /* Центрування елементів по горизонталі */
  justify-content: space-between; /* Розміщення елементів на всій висоті */
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
}

.goods-card img {
  width: 100%; /* Ширина 100% */
  height: 180px; /* Фіксована висота, щоб всі зображення займали однакове місце */
  object-fit: contain; /* Зображення зберігає свої пропорції, масштабуючись */

}

.goods-card h3 {
  margin: 5px 0; /* Зменшення відступу */
  font-size: 20px; /* Розмір тексту заголовка */
  font-weight: bold; /* Жирний текст */
  text-align: center; /* Центрування тексту */
}

.goods-card p {
  margin: 5px 0; /* Зменшення відступу */
  font-size: 16px; /* Розмір тексту */
  color: #555; /* Колір тексту */
  text-align: center; /* Центрування тексту */
}